* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

header {
    background: #000000; 
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo1 {
    border-radius: 10px;
}
.wq {
    margin-left: 70px;
}
    
.logo {
    border-radius: 10px;
}

.logo1:hover {
    transition: 0.5s;
    transform: scale(1.2);
}
.logo:hover {
    transition: 0.5s;
    transform: scale(1.2);
}
nav {
    display: flex;
    flex-grow: 1; 
    justify-content: center;
    
}

.menu {
    list-style: none;
    display: flex;
    font-size: 20px;
}

.menu li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    padding: 10px 20px;
    display: block;
    border-right: 1px solid black;
}

.menu li:last-child a {
    border-right: none;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: gray;
    list-style: none;
    min-width: 150px;
    border-radius: 10px;
}

.submenu li {
    border-bottom: 1px solid black;
}

.submenu li a {
    padding: 10px;
    display: block;
    color: rgb(0, 0, 0);
}

.submenu li:last-child {
    border-bottom: none;
}

.menu li:hover .submenu {
    display: block;
}
.menu li:hover  {
    background-color: rgba(226, 226, 226, 0.452);
    border-radius: 10px;
    transition: 0.2s;
    transform: scale(1.05);
}
body {
    background-image: url(imoges/backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}




.menu-button{
    border-radius: 10px;
    cursor: pointer;
    
}

.menu-button:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.side-menu {
    position: fixed;
    top: 0;
    right: 0px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    padding-top: 60px;
    padding-right: 10px;
    transform: translateX(-250px);
    transition: transform 0.3s ease-in-out;
    
}
.side-menu ul {
    list-style: none;
    padding: 0;
}   
.side-menu ul li a{
    display: block;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #444;
   
}


.side-menu ul li a:hover {
    background-color: #929292;
    min-width: 100%;
    
}

.container {
    position: relative;
}
.close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #423c3c;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.close-btn:hover {
    background-color: #ff0000;
    transition: 0.2s;
}

.side-menu a{
    text-decoration: none; 
    color: red;
}


.fet {
    bottom: 0px;
    padding: 30px;
    background-color: #555252;
    position: fixed;
    width: 55%;
    height: 190px;
    background-image: url(imoges/tarnecka.jpg);
    background-repeat: no-repeat;
    background-size: 100% 190px;
    border: #000000 3px solid;
}
main {
    height: 100dvh;
}



















